.dark {
  /***********************************************/
  /***************Top Header styles
***********************************************/
  #top-header {
    box-shadow: 0px 0px 3px 0px hsl(0, 0%, 20%);
    background-color: #0b0f19;
    #left-side-header {
      nav {
        a {
          color: #fff;
        }
        a:visited {
          color: #fff;
        }
      }
    }
  }
  .toggle-switch:has(input:focus-visible) {
    border: 1px solid white;
    box-sizing: content-box;
  }
  .dark-mode-text {
    color: #565973;
  }
  .hamburger-menu {
    background-color: #0b0f19;
  }
  .hamburger-menu span {
    background-color: #fff;
  }
  /***********************************************/
  /***************Hero section styles
***********************************************/
  .background-widescreen-fixer-hero {
    background-color: #0b0f19;
    color: #fff;
    z-index: -999;
  }
  //hero section classes
  .hero-section {
    .hero-paragarph {
      color: hsl(220, 18%, 63%);
    }
  }

  .d-btn-1 {
    background-color: #f3f6ff;
    .button-wrapper {
      .icon-fix {
        .apple-icon-top {
          fill: #33354d;
        }
        .apple-icon {
          fill: #33354d;
        }
      }
      div {
        p {
          color: #33354d;
        }
      }
    }
  }
  .d-btn-2 {
    background-color: #f3f6ff;

    &::after {
      content: "";
      display: block;
      justify-content: center;
      align-items: center;
      background-image: url("../Pictures/google-darkmode.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 136px;
      height: 32px;
      background-color: transparent;
    }
    img {
      display: none;
    }
  }
  .discover-button {
    fill: white;
    background-color: #291e2f;
  }
  //hero section tablet/desktop only
  @media screen and (min-width: 768px) {
    .hero-section::after {
      content: "";
      background-image: url("../Pictures/test-darkmode.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      grid-row: 2 / 6;
      grid-column: 5 / 9;
      width: calc(100% + 80px);
      height: 100%;
      z-index: 1;

      background-position-y: 100%;
    }
    @media screen and (min-width: 1024px) {
      .hero-section::after {
        content: "";
        background-image: url("../Pictures/test-darkmode.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        grid-column: 5 / 13;
        grid-row: 2 / 8;
        width: calc(100% + 160px);
        height: 100%;
        z-index: 1;
        position: absolute;
        background-position-y: 100%;
        right: -121px;
      }
    }
  }
  /***********************************************/
  /***************Brand section styles
***********************************************/
  //Tablet brand
  @media screen and (min-width: 768px) {
    .background-widescreen-fixer-brand {
      background-color: #0b0f19;
      color: #fff;
    }
    .brand-wrapper {
      .brand-1,
      .brand-2,
      .brand-3,
      .brand-4 {
        display: none;
      }
      .d-brand-1,
      .d-brand-2,
      .d-brand-3,
      .d-brand-4 {
        display: block;
      }
    }
  }
  //Desktop brand
  @media screen and (min-width: 1024px) {
    .background-widescreen-fixer-brand {
      background-color: #0b0f19;
      color: #fff;
    }
    .brand-padding {
      padding-top: 15px;
      padding-bottom: 50px;
      margin-top: 0;
    }
    .brand-wrapper {
      .brand-1,
      .brand-2,
      .brand-3,
      .brand-4,
      .brand-5,
      .brand-6 {
        display: none;
      }
      .d-brand-1,
      .d-brand-2,
      .d-brand-3,
      .d-brand-4,
      .d-brand-5,
      .d-brand-6 {
        display: block;
      }
    }
  }

  /***********************************************/
  /**********App Features section styles
***********************************************/
  .background-widescreen-fixer-app-features {
    background-color: #0b0f19;
    color: white;
  }
  .app-features-grid {
    p {
      color: hsla(0, 0%, 100%, 0.65);
    }
  }
  /***********************************************/
  /**********how it works section styles
***********************************************/
  .background-widescreen-fixer-howitworks {
    background-color: #151822;
    color: white;
    margin-top: 0;
    padding-top: 20px;
  }
  .howitworks-grid {
    p {
      color: hsla(0, 0%, 100%, 0.65); // Alright Contrast ratio 8+
    }
  }
  /***********************************************/
  /**********Explanation section styles
***********************************************/
  .background-widescreen-fixer-explanation {
    background-color: #0b0f19;
    color: #fff;
  }
  /***********************************************/
  /**********Revies section styles
***********************************************/
  .review-boxes {
    background-color: #25202a;
    p {
      color: hsla(0, 0%, 100%, 0.65);
    }
  }
  /***********************************************/
  /**********Q & A or FAQ section styles
***********************************************/
  .background-widescreen-fixer-qa-to-footer:not(.qa-header-box) {
    background-color: #0b0f19;
    padding-bottom: 30px;
    color: #fff;
  }
  .qa-top-text-box p {
    color: hsla(0, 0%, 100%, 0.65);
  }
  .qa-header-box {
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    border-top: none;
    background-color: #151822;
    color: #fff;
    z-index: 10;
    .qa-btn-box {
      background-color: #1e212b;
      svg {
        fill: white;
      }
    }
  }
  .qa-content-box {
    padding: 32px;
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    border-top: none;
    p {
      color: #fff;
    }
  }
  .qa-header-box {
    padding: 10px;
    cursor: pointer;

    border-radius: 8px 8px 0 0;
  }
  .qa-content-box {
    padding: 25px;
    padding-top: 35px;
    border-radius: 0 0 8px 8px;
    transition: box-shadow 0.3s ease;
    z-index: 10;
  }
  .accordionActive {
    box-shadow: 0px 2px 4px rgba(202, 202, 202, 0.05);
    .qa-header-box {
      box-shadow: none;
    }
  }
  .qa-header-box:nth-of-type(3) {
    border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  }

  .shadow-wrapper {
    border: none;
    box-shadow: none;
  }
  //Tablet border fix
  @media screen and (min-width: 768px) {
    .qa-header-box {
      border: none;
    }
    .qa-content-box {
      border: none;
    }
    .qa-header-box:nth-of-type(3) {
      border-top: none;
    }
    .shadow-wrapper {
      border: 1px solid hsla(0, 0%, 100%, 0.15);
    }
  }

  .contact-left-side {
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    p {
      color: #fff;
    }
    button {
      background-color: #0b0f19;
    }
  }
  .contact-right-side {
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    p {
      color: #fff;
    }
    button {
      background-color: #0b0f19;
    }
  }
  .input-with-icon {
    color: white;
  }
  //Subscribe
  .sub-grid {
    background-color: #151822;
  }
  .input-with-icon {
    background-color: #191d27;
    border: 1px solid hsla(0, 0%, 100%, 0.15);
  }
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  //end of homepage
  /////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////
  //Contact page
  /////////////////////////////////////////////////////////////////////////////////////////////////////
  ///
  ///
}
