.contact-hero {
  border-radius: 0;
  display: flex;
  padding-bottom: 111px;
  flex-direction: column;
}

.contact-bg {
  background: var(--Gray-100, #f3f6ff);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 116px 70px 0;
}

.contact-content {
  z-index: 10;
  display: flex;
  margin-bottom: -111px;
  width: 1296px;
  max-width: 100%;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-info {
  align-self: start;
  display: flex;
  flex-direction: column;
  font: 16px Manrope, sans-serif;
  width: 40%;
}

.breadcrumb {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.6;
  justify-content: start;
}

.home-link {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Gray-600, #9397ad);
  justify-content: start;
  margin: auto 0;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 18px;
  align-self: stretch;
  margin: auto 0;
}

.breadcrumb-text {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  margin: auto 0;
}

.contact-title {
  color: var(--Gray-900, #0b0f19);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
  align-self: start;
  margin-top: 32px;
}

.contact-option {
  display: flex;
  margin-top: 72px;
  gap: 24px;
  width: 100%;
}

.option-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 60px;
  align-self: start;
}

.option-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}

.option-title {
  color: var(--Gray-900, #0b0f19);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4;
}

.option-description {
  color: var(--Gray-700, #565973);
  font-feature-settings: "liga" off, "clig" off;
  font-weight: 400;
  line-height: 26px;
  margin-top: 12px;
}

.option-button {
  border-radius: 8px;
  align-self: start;
  display: flex;
  margin-top: 12px;
  align-items: center;
  gap: 8px;
  color: var(--Brand-Primary, #6366f1);
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  justify-content: center;
  padding: 13px 0;
}

.button-text {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  margin: auto 0;
}

.button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.consultation-form {
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1),
    0px 4px 13px -2px rgba(19, 16, 34, 0.06);
  align-self: end;
  display: flex;
  margin-top: 54px;
  flex-direction: column;
  padding: 72px;
}

.form-title {
  color: var(--Gray-900, #0b0f19);
  font-feature-settings: "liga" off, "clig" off;
  align-self: start;
  font: 800 32px/1.3 Manrope, sans-serif;
}

.form-label {
  color: var(--Gray-900, #0b0f19);
  font-feature-settings: "liga" off, "clig" off;
  align-self: start;
  margin-top: 40px;
  font: 600 16px/1.6 Manrope, sans-serif;
}

.form-input {
  border-radius: 8px;
  border: 1px solid var(--Gray-400, #d4d7e5);
  background: var(--White, #fff);
  display: flex;
  margin-top: 4px;
  width: 491px;
  max-width: 100%;
  height: 52px;
}

.form-select {
  justify-content: center;
  align-items: end;
  border-radius: 8px;
  border: 1px solid var(--Gray-400, #d4d7e5);
  background: var(--White, #fff);
  display: flex;
  margin-top: 4px;
  flex-direction: column;
  overflow: hidden;
  padding: 14px 80px;
}

.select-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.submit-button {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Brand-Primary, #6366f1);
  margin-top: 146px;
  gap: 8px;
  color: var(--White, #fff);
  text-align: center;
  padding: 13px 32px;
  font: 600 16px/1.6 Manrope, sans-serif;
}

@media (max-width: 991px) {
  .contact-hero {
    padding-bottom: 100px;
  }

  .contact-bg {
    max-width: 100%;
    padding: 100px 20px 0;
  }

  .contact-content {
    margin-bottom: 10px;
  }
  .contact-info {
    width: 80%;
  }
  .breadcrumb {
    white-space: initial;
  }

  .home-link {
    white-space: initial;
  }

  .contact-option {
    margin-top: 40px;
  }

  .consultation-form {
    max-width: 100%;
    margin-top: 40px;
    padding: 30px 20px;
  }

  .form-select {
    max-width: 100%;
    padding-left: 20px;
  }

  .submit-button {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.medical-centers-map {
  border-radius: 0;
  padding-top: 200px;
  padding-bottom: 200px;
}
.medical-centers-container {
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  .medical-centers-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
.map-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  height: 100%;
  margin-left: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .map-column {
    width: 100%;
  }
}
.map-image {
  object-fit: contain;
  object-position: center;
  width: 60%;
  border-radius: 8px;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .map-image {
    max-width: 80%;
    margin-top: 40px;
  }
}
.info-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 40%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .info-column {
    width: 100%;
  }
}
.info-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .info-wrapper {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .center-info {
      align-items: center;
      justify-content: center;

      .info-text {
        width: 35%;
        text-align: center;
      }
    }
    .phone-info {
      display: flex;
      align-items: center;
      justify-content: center;
      .info-text {
        width: 100%;
      }
    }
  }
}
.center-title {
  color: #0b0f19;
  font-feature-settings: "liga" off, "clig" off;
  font: 800 24px/1.4 Manrope, sans-serif;
}
.center-info {
  align-self: stretch;
  display: flex;
  margin-top: 24px;
  align-items: center;
  gap: 8px;
  color: #565973;
  justify-content: flex-start;
  font: 400 16px/1.6 Manrope, sans-serif;
}
.info-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: stretch;
  margin: auto 0;
}
.info-text {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  width: 388px;
  margin: auto 0;
}
.phone-info {
  display: flex;
  margin-top: 12px;
  align-items: center;
  gap: 8px;
  color: #565973;
  justify-content: flex-start;
  font: 400 16px/1.6 Manrope, sans-serif;
}
.hours-info {
  display: flex;
  margin-top: 12px;
  width: 253px;
  max-width: 100%;
  gap: 8px;
  color: #565973;
  font: 400 16px/26px Manrope, sans-serif;
}
.hours-text {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  gap: 16px;
}
.second-center-title {
  color: #0b0f19;
  font-feature-settings: "liga" off, "clig" off;
  margin-top: 48px;
  font: 800 24px/1.4 Manrope, sans-serif;
}
@media (max-width: 991px) {
  .second-center-title {
    margin-top: 40px;
  }
}
.social-links {
  display: flex;
  margin-top: 72px;
  align-items: flex-start;
  gap: 16px;
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .social-links {
    margin-top: 40px;
  }
}
.social-button {
  align-items: center;
  border-radius: 6px;
  background-color: #eff2fc;
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
}
.social-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}
.bold-text {
  font-weight: 700;
  color: #0b0f19;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
//////////////////////////////////////
/// Dark mode on contact page
/////////////////////////////////////
.dark {
  ////////////////////////
  ///Contact hero section
  ////////////////////////
  .contact-hero {
    background-color: #151822;
  }
  .contact-bg {
    background: radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.01) 60%,
      #0b0f19 20%
    );

    color: hwb(220 67% 12%);
  }
  .contact-title {
    color: hwb(220 67% 12%);
  }
  .option-title {
    color: hwb(220 67% 12%);
  }
  .option-icon {
    opacity: 0.92;
  }
  .consultation-form {
    background-color: #1a2235;
    .form-title {
      color: white;
    }
    .form-label {
      color: white;
    }
  }
  .medical-centers-map {
    background-color: #151822;
  }
  ////////////////////////
  ///Contact Map section
  ////////////////////////
  .info-wrapper {
    color: white;
    .center-title {
      color: white;
    }
    .phone-info {
      a {
        color: white;
      }
    }
    .hours-text {
      color: white;
      .bold-text {
        color: gray;
      }
    }
    .second-center-title {
      color: white;
    }
  }
}
