/*Search queries*/ /*
*Universal Styles              Top Header Styles             Hero section styles


*/ /*

Description:
- Mobile first

*/
// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap");
// Import variables and mixins
@import "Partials/functions";
@import "Partials/variables";
@import "Partials/mixins";

/////////////////
/// Root styles - Dark mode fix
///
:root {
  --header-background: #fff;
}

/***********************************************/
/***************Universal Styles
***********************************************/

* {
  margin: $default-margin;
  padding: $default-padding;
  box-sizing: $box-sizing-border;
  font-family: $font-family;
  transition: background-color $transition-duration;
}

.section-max-width {
  width: fit-content;
  max-width: $max-section-width;
  margin: $default-margin auto;
  margin-top: $margin-top-large;
}

.margin-20 {
  margin: $margin-20;
}

.desktop-only {
  // Default is flex on desktop
  display: $display-none;
}

.desktop-only-block {
  display: $display-none;
}

.mobile-tablet-only {
  display: $display-block;
}

// html {
//   @include dark-theme($dark-background, $text-color);
// }

/***********************************************/
/***************Top Header styles
***********************************************/
#top-header {
  z-index: $z-index-top-header;
  width: $width-100;
  height: $header-height;
  box-shadow: $box-shadow-header;
  @include sticky-header;
  background-color: var(--header-background);
  // Dark theme for top header
  // @include dark-theme($dark-background);
}

.wrapper {
  @include flex-space-between(space-between, center);
  padding: 0 pxtorem(16);
  max-width: $max-section-width;
  margin: 0 auto;
  max-height: $header-height;
}

#left-side-header {
  @include flex-center();
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: $text-color-black;
  div {
    nav {
      @include flex-center();
      gap: $gap-25;
      a {
        text-decoration: none;
        color: $text-color-black;
      }
      a:visited {
        color: $text-color-black;
      }
      #features {
        margin-top: $margin-top-4px;
      }
    }
  }
}

#left-side-header:visited {
  color: $text-color-black;
}

#features {
  display: $display-none;
  margin-left: $margin-left-7;
  font-size: $font-size-16;
  font-weight: $font-weight-400;
  font-family: $font-family;
  color: $text-color-features;
  @include centerSelf;
}

#logo-name {
  margin-left: $margin-left-7;
  font-size: $font-size-20-8;
  font-weight: $font-weight-800;
  font-family: $font-family;
}

/*** Right side header ***/
#right-side-header {
  @include flex-center(row);
  gap: $gap-16;
  padding: $default-padding $padding-16px;
}

/********Toggle / Switch********/
.toggle-switch {
  width: $toggle-switch-width;
  height: $toggle-switch-height;
  background-color: $color-toggle-background;
  border-radius: 25px;
  position: relative;
  box-shadow: $box-shadow-toggle;
  cursor: pointer;
  display: inline-block;
  user-select: none;

  input {
    opacity: 0;
  }
  .toggle-knob {
    width: $toggle-knob-diameter;
    height: $toggle-knob-diameter;
    background-color: $light-background;
    border-radius: $proc50;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: $toggle-knob-transition;
  }
  input:checked + .toggle-knob {
    left: calc(#{$toggle-switch-width} - #{$toggle-knob-diameter} - 6px);
  }
}

#darkmode-checkbox {
  height: $height-100;
  width: $width-100;
}

.toggle-switch:has(input:focus-visible) {
  border: $focus-border;
  box-sizing: $box-sizing-content;
}

.toggle-switch:has(input:checked) {
  background-color: $primary-color;
}

/***Menu button Mobile***/
.hamburger-menu {
  width: $width-30px;
  height: $height-36px;
  @include flex-center(center, center, column);
  @include pointer;
  border: $border-none;
  background-color: $white-background;
}

.hamburger-menu span {
  display: block;
  width: pxtorem(22);
  height: pxtorem(2);
  background-color: #333;
}

.hamburger-menu span:first-child {
  margin-top: pxtorem(6);
}

.hamburger-menu span:nth-child(2) {
  margin-top: pxtorem(6);
  margin-bottom: pxtorem(6);
}

.hamburger-menu span:last-child {
  margin-bottom: pxtorem(6);
}

.signin-btn-link {
  display: none;
  @include pointer;
}

/***********************************************/
/***************Hero section styles
***********************************************/

.background-widescreen-fixer-hero {
  @include hero-gradient-background;
  width: $width-100;
  height: auto;
}

//**Universal Section properties**//
.hero-section {
  overflow: hidden;
  height: $height-100;
  font-family: $font-family;
  @include flex-center();
  padding-bottom: pxtorem(10); //Line fixer
  display: grid;
  grid-template-rows: auto;
  gap: 40px;
  padding-top: 27.02px;
  //////Nested universal
  h1,
  .hero-paragarph {
    @include centerSelf;
    width: $width-100;
  }
  *:nth-child(2) {
    max-width: pxtorem(361.41);
  }
  h1 {
    @include flex-center;
    text-align: center;
    font-weight: $font-weight-700;
    font-size: $font-size-34-1;
    max-width: $width-300px;
  }
  .hero-paragarph {
    @include flex-center;
    padding: 0;
    font-size: $font-size-18;
    color: $paragraph-text-color;
    line-height: 1.288;
    height: $height-115-2px;
  }
}

/***Apple Button Self made***/ //The Next button is AI-made.
.main-btn-wrapper {
  @include flex-center(center, center, column);
  @include pointer;
  gap: $gap-20;
}
.download-btn {
  @include flex-center;
  @include pointer;
  width: $width-100;
  height: $height-50px;
  background-color: $dark-button;
  max-width: 366.4px;
  border-radius: $normal-radius;
  .button-wrapper {
    @include flex-center;
    margin-top: 0;
    .icon-fix {
      @include flex-center;
      position: relative;
      width: $width-30px;
      .apple-icon-top {
        position: absolute;
        top: -6px;
        left: 2´0px;
        fill: white;
      }

      .apple-icon {
        position: relative;
        fill: white;
      }
    }
  }

  p {
    color: white;
  }
}
.download-btn:hover {
  background-color: $primary-color;
  border: $primary-color;
}
.download-text-apple-top {
  font-family: $apple-font;
  font-size: $font-size-11;
  @include downloadBtnHeight-spaceing;
}
.download-text-apple {
  font-family: $apple-font;
  font-size: $font-size-18;
  font-weight: $font-weight-500;
  @include downloadBtnHeight-spaceing;
}

/****Google button Ai-Generated with Builder.io Figma plugin****/

.link-image {
  margin-top: pxtorem(4);
  object-fit: contain;
  object-position: center;
  width: pxtorem(139);
  max-width: $width-100;
}
.btn-link {
  width: $width-100;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: pxtorem(1);
  height: pxtorem(1);
  padding: 0;
  margin: pxtorem(-1);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//*******Discover more button*********//
.discover-wrapper {
  margin-bottom: $margin-20;
  @include flex-center();
  gap: $gap-25;
  user-select: $display-none;
  width: $width-100;
  p {
    color: $paragraph-text-color;
  }
}

.discover-button {
  fill: $fill-discover-button;
  width: $width-44px;
  height: $height-44px;
  border: $border-none;
  border-radius: $proc50;
  background-color: $white-background;
}

.discover-button:hover {
  background-color: $primary-color;
  color: $wi;
  stroke: $wi;
  fill: $wi;
  @include pointer;
}

/***********************************************/
/***************Brand section styles
***********************************************/

.brand-wrapper {
  display: $display-none;
  //Styles in Tablet/Desktop only
  .d-brand-1,
  .d-brand-2,
  .d-brand-3,
  .d-brand-4,
  .d-brand-5,
  .d-brand-6 {
    display: $display-none;
  }
  .brand-1,
  .brand-2,
  .brand-3,
  .brand-4,
  .brand-5,
  .brand-6 {
    display: $display-none;
  }
}

/***********************************************/
/**********App Features section styles
***********************************************/
.app-features-padding {
  margin-top: $margin-top-negative-100px;
  padding-top: $padding-top-100px;
  padding-bottom: $padding-bottom-70px;
}

.app-features-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: $padding-5px;
  margin-top: $margin-top-30px;
  justify-content: center;
  align-items: center;
  gap: $gap-20;

  h2 {
    text-align: center;
    font-family: $font-family;
    font-weight: $font-weight-700;
    font-size: $font-size-27-9;
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-size: $font-size-18;
    color: $paragraph-text-color;
    padding: 0 $padding-25px;
    max-width: $max-width-425px;
    font-family: $font-family;
    margin: 0 auto;
  }
}

.app-features-img {
  display: $display-none;
}

.app-features-grid-item {
  display: flex;
  flex-direction: row;
  padding: $padding-20px;
  gap: $gap-20;
  align-items: center;
  justify-content: start;

  img {
    align-self: start;
  }

  h3 {
    text-align: start;
    font-size: $font-size-20;
    margin-bottom: $margin-bottom-10px;
  }

  p {
    text-align: start;
    padding: 0;
    font-size: $font-size-16;
    color: $paragraph-text-color;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: $box-shadow-header-65;
    transition: all $transition-duration ease-in;
  }
}
/***********************************************/
/**********how it works section styles
***********************************************/
.background-widescreen-fixer-howitworks {
  background-color: $background-howitworks;
  padding-top: $padding-top-1px;
  padding-bottom: $padding-bottom-50px;
  margin-top: $margin-top-20px;
}
.howitworks-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: $c;
  align-items: $c;
  margin: 0 auto;
  text-align: $c;
  max-width: $max-width-1200px; // Use the new variable
  gap: $gap-30;

  h3 {
    max-width: $max-width-250px;
    font-weight: $font-weight-900; // Add a variable for this if not defined
    font-size: $font-size-21-6;
  }

  p {
    max-width: $max-width-415px;
    font-size: $font-size-16;
    color: $paragraph-text-color;
  }
}
.howitworks-img-wrapper {
  display: flex;
  justify-content: $c;
  align-items: $c;
}
.howitworks-img-wrapper img:nth-child(1),
.howitworks-img-wrapper img:nth-child(3) {
  display: none;
}

.howitworks-textbox {
  @include flex-center(center, center, column);
  gap: 15px;
}
.desktop-only {
  // Default is flex on desktop
  display: none;
}

/***********************************************/
/**********Explanation section styles
***********************************************/
.explanation-padding {
  margin-top: 0;
  padding-top: $padding-top-50px;
  padding-bottom: 50px;
}
//Only universal style in mobile

/***********************************************/
/**********Revies section styles
***********************************************/

//Only Universal style in mobile

/***********************************************/
/**********Q & A or FAQ section styles
***********************************************/
.qa-padding {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.qa-top-text-box {
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 355px;
  text-align: center;

  h2 {
    font-size: 24.7px;
    font-weight: 900;
  }
  p {
    color: #585c7b;
    font-size: 18px;
  }
}
//Grid start
.qa-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  margin: 20px;
}

//Header
.qa-header-box {
  border: 1px solid #e2e5f1;
  border-top: none;
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;

  h3 {
    font-size: 16px;
    max-width: 261px;
  }
}
.qa-header-box:nth-of-type(3) {
  border-top: 1px solid #e2e5f1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.qa-grid .qa-header-box:nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #e2e5f1;
}
.qa-grid .qa-header-box:nth-child(12) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.qa-btn-box-clicked {
  background-color: $primary-color;
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -8px 18px -8px #6366f1;
  cursor: pointer;
  user-select: none;
}
.qa-btn-box {
  background-color: #f3f6ff;
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  svg {
    fill: #3e4265;
  }
}
//Content
.qa-content-box {
  padding: 32px;
  border: 1px solid #e2e5f1;
  border-top: none;
  p {
    color: #585c7b;
    margin-bottom: 10px;
  }
}
//The display none fix
.qa-grid .qa-content-box:nth-child(4) {
  display: block;
}
.qa-grid .qa-header-box:nth-child(3) {
  .qa-btn-box-clicked {
    display: flex;
  }
  .qa-btn-box {
    display: none;
  }
}
.shadow-wrapper .qa-content-box:nth-child(2) {
  display: none;
}
.shadow-wrapper .qa-header-box:nth-child(1) {
  border-top: none;
  .qa-btn-box-clicked {
    display: none;
  }
  .qa-btn-box {
    display: flex;
  }
}
/***********************************************/
/**********Contact & subscribe section styles
***********************************************/
.contact-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
//Contact
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
}
.contact-btn {
  display: inline-block;
  border: none;
  background-color: $primary-color;
  width: 162.29px;
  height: 49.5px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  p {
    color: white;
    font-size: 14px;
  }
}
.contact-tablet-wrapper {
  display: none;
}
.contact-right-side {
  button {
    cursor: pointer;
    user-select: none;
  }
}
.contact-right-side:hover button {
  transform: scale(1.1);
}
.contact-left-side {
  button {
    cursor: pointer;
    user-select: none;
  }
}
.contact-left-side:hover button {
  transform: scale(1.1);
}
//Subscribe
.sub-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #f3f6ff;
  margin: 0 auto;

  border-radius: 8px;
  max-width: 720px;
  width: 100%;
}
.noti-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  h3 {
    max-width: 250px;
  }
  img {
    margin-top: -20px;
  }
}
.email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  max-width: 400px;
  align-self: center;
  justify-self: center;
}
.input-wrapper {
  position: relative;
}
.input-with-icon {
  height: 52.3px;
  width: 220px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 16px;
  padding: 10px;
  padding-left: 40px;
  box-sizing: border-box;
  position: relative;
}
.email-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 999;
}
.input-with-icon::before {
  content: "";
  background: url("/Pictures/email-icon.svg") no-repeat;
  background-size: 20px 20px; /* Adjust the size of the icon */
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* Ensure the icon doesn't interfere with input interactions */
  z-index: 999;
}
.sub-btn {
  width: 114.68px;
  height: 52.3px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $primary-color;
  color: white;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
  user-select: none;
}

/***********************************************/
/**********Footer section styles
***********************************************/
footer p {
  color: #9397ad;
  font-size: 14px;
  text-align: center;
  margin: 30px;
}

//END
//////////////////////////////////
///
///
///
//Fix scaling for fixed width/height in mobile Specificty problem.
@media screen and (min-width: 500px) {
  html {
    zoom: 1.05;
  }
  .hamburger-menu {
    zoom: 1;
  }
}
@media screen and (min-width: 600px) {
  html {
    zoom: 1.1;
  }
  .hamburger-menu {
    zoom: 0.99;
  }
}
//Reset at tablets again
@media screen and (min-width: 768px) {
  html {
    zoom: 1;
  }
  .hamburger-menu {
    zoom: 1;
  }
}
///
///
///
///
///
///
///
///
/***************************************************/
/*****Imports of Partials****/ //At bottom is crucial for preprocessor rules.
/***************************************************/
@import "Partials/tabletOnly";
@import "Partials/desktopOnly";
@import "Partials/darkmode";
@import "Partials/resets";

/***********************************************/
/***************React route Styles
***********************************************/
.active {
  text-decoration: underline !important;
}
