
// Flexbox Centering
@mixin flex-center($centerJ: center, $centerA: center, $flex-dir: row){
    display: flex;
    justify-content: $centerJ;
    align-items: $centerA;
    flex-direction: $flex-dir;
    
}
@mixin flex-space-between($space-between: space-between, $center: center){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  // Sticky Header
  @mixin sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  // Dark Theme
 
  @mixin dark-theme {
   #top-header{
    background-color: blue;
   }
  }

  @mixin pointer{
    cursor: pointer;
    user-select: none;
  }
  @mixin centerSelf{
    align-self: center;
    justify-self: center;
  }
  // Gradient Background for Hero Section
  @mixin hero-gradient-background {
    background: radial-gradient(
      circle at bottom center,
      $gradient-start 0%,
      $gradient-middle 50%,
      $gradient-end 100%
    );
  }
  @mixin downloadBtnHeight-spaceing{
    height: fit-content;
    letter-spacing: 1px;
  }
  // Mixin for top-left gradient - desktop only
@mixin hero-gradient-background-top-left {
  background: radial-gradient(
    circle at top left,
    $gradient-start 0%,
    $gradient-middle 50%,
    $gradient-end 100%
  );
}


  //Nested items in Hero-Section


  