/*******Dark mode text *****/
.dark-mode-text {
  //Must be in this partial(updated loading order might work now)
  display: none;
  color: #131022;
  font-weight: 600;
}

//Tablets Selection Media
@media screen and (min-width: 768px) {
  /***********************************************/
  /***************Universal  styles
***********************************************/
  .dark-mode-text {
    display: block;
    user-select: none;
  }
  .desktop-only {
    display: none;
  }
  /***********************************************/
  /***************Top Section styles
***********************************************/
  .toggle-switch {
    margin-right: 60px;
  }
  .hidden-menu {
    display: flex;
  }
  /***********************************************/
  /***************Hero Section styles
***********************************************/
  .hero-section {
    padding-top: 70px;
    width: 100vw;
    max-width: 98vw;
    height: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 35px;
    padding-bottom: 0;

    *:first-child {
      //Crucial for the h1 styling.
      max-width: 500px;
    }

    //Nested
    h1 {
      display: inline-block;
      grid-column: 2 / 8;

      font-size: 44.3px;
      max-width: 100px;
    }

    .hero-paragarph {
      grid-column: 1 / 6;
      grid-row: 3;
      width: 360px;
    }
    .main-btn-wrapper {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 360px;
      grid-column: 1 / 6;
      grid-row: 4;
      align-self: center;
      justify-self: center;
    }
    .d-btn-1 {
      width: 170px;
    }
    .d-btn-2 {
      width: 170px;
    }
    .discover-wrapper {
      grid-row: 5;
      grid-column: 1 / 6;
      justify-self: center;
      width: 200px;
      margin-right: 180px;
    }
  }
  .hero-section *:first-child {
    max-width: 400px;
  }
  .hero-section::after {
    content: "";
    background-image: url("../Pictures/test.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 2 / 6;
    grid-column: 5 / 9;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-position-y: 100%;
  }

  /***********************************************/
  /***************Brand section styles
***********************************************/
  .brand-padding {
    padding-top: 15px;
    padding-bottom: 50px;
    margin-top: 0;
  }
  .brand-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: nowrap;

    img {
      flex: 1 1 auto;
      height: auto;
      width: 100%;
      width: calc((75rem - 60px) / 7);
      max-width: 196px;
      max-height: 100px;
    }

    .brand-1,
    .brand-2,
    .brand-3,
    .brand-4,
    .brand-5,
    .brand-6 {
      display: block;
    }
    .brand-5,
    .brand-6 {
      display: none;
    }
  }

  /***********************************************/
  /***************App Features section styles
***********************************************/
  .app-features-grid {
    grid-template-columns: 1fr 1fr;
    h2 {
      grid-column: 1 / -1;
      grid-row: 1;
    }
    p {
      grid-column: 1 / -1;
      grid-row: 2;
      max-width: 600px; // Easier to read at max 600px
    }
  }
  /***********************************************/
  /**********how it works section styles
***********************************************/
  .howitworks-grid {
    h2 {
      font-size: 33.5px;
      font-weight: 800;
    }
    h3 {
      font-size: 22.7px;
      max-width: 450px;
    }
    h3::before {
      content: "Step 3.";
      font-size: 22.7px;
    }
    p {
      max-width: 450px;
    }
  }
  .howitworks-img-wrapper {
    img {
      max-height: 412px;
    }
  }
  .howitworks-img-wrapper img:nth-child(1),
  .howitworks-img-wrapper img:nth-child(3) {
    display: block;
  }
  /***********************************************/
  /**********Q & A or FAQ section styles
***********************************************/
  .qa-grid {
    margin: 10px;
  }
  .qa-top-text-box {
    min-width: 720px;
    h2 {
      font-size: 32px;
      max-width: 330px;
      margin-bottom: 30px;
    }
    p {
      max-width: 450px;
      width: 450px;
    }
  }
  .shadow-wrapper .qa-header-box:nth-child(1) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .shadow-wrapper {
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
      0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    margin-top: 20px;
    .qa-header-box {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }
  .qa-header-box {
    border: none;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
      0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    margin-top: 20px;
    border-radius: 8px;
    padding: 16px;
    z-index: -2;
    h3 {
      max-width: 100%;
    }
  }
  .qa-header-box:nth-of-type(3) {
    border-top: none;
  }
  .qa-content-box {
    border: none;
    box-shadow: none;

    z-index: 20;
  }
  .qa-grid .qa-header-box:nth-child(2) {
    border: none;
  }
  .qa-grid .qa-header-box:nth-last-of-type(2) {
    border: none;
  }
  //The display none fix
  //Box one
  .qa-grid .qa-content-box:nth-child(4) {
    display: none;
  }
  .qa-grid .qa-header-box:nth-child(3) {
    .qa-btn-box-clicked {
      display: none;
    }
    .qa-btn-box {
      display: flex;
    }
  }
  //Box two
  .shadow-wrapper .qa-content-box:nth-child(2) {
    display: block;
  }
  .shadow-wrapper .qa-header-box:nth-child(1) {
    margin-top: 0px;
    box-shadow: none;
    border: none;
    z-index: -10;
    .qa-btn-box-clicked {
      display: flex;
    }
    .qa-btn-box {
      display: none;
    }
  }

  /***********************************************/
  /***************Contact and sub  section styles
***********************************************/
  .contact-btn {
    display: none;
  }
  .contact-section {
    align-items: center;
    justify-content: center;
  }
  .contact-tablet-wrapper {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .contact-left-side {
    width: 343px;
    height: 166px;
    border: 1px solid #e2e5f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;

    p {
      margin-top: 15px;
      margin-bottom: 25px;
      color: #565973;
      font-size: 14px;
    }
    button {
      border: none;
      display: flex;
      gap: 5px;
      background-color: #fff;
      color: #6366f1;
      font-weight: 700;
    }
  }

  .contact-right-side {
    width: 343px;
    height: 166px;
    border: 1px solid #e2e5f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;

    p {
      margin-top: 15px;
      margin-bottom: 25px;
      color: #565973;
      font-size: 14px;
    }
    button {
      border: none;
      display: flex;
      gap: 5px;
      background-color: #fff;
      color: #22c55e;
      font-weight: 700;
    }
  }
  .sub-grid {
    grid-template-columns: 1fr 1fr;
    padding: 60px 30px;
  }
  .noti-wrapper {
    margin: 0;
  }

  //Inside the media
  .desktop-only {
    display: none;
  }
}

////////////////////////////////////
///////Higher tablet widths
//////////////////////////////
///
///
// @media screen and (min-width: 868px){
//  .brand-wrapper{
//   transform: scale(0.9);
//  }
// }

// @media screen and (min-width: 968px){
//   .brand-wrapper{
//     transform: scale(1);
//    }
// }
